# dependencies
/node_modules
node_modules/
/.pnp
.pnp.js

# cahe
.npm
.eslintcache

# next.js
/.next/
/out/

# typescript
*.tsbuildinfo

# tailwind
.turbo
styles/dist.css

# testing
/coverage
coverage
.nyc_output
cypress/videos
cypress/screenshots

# production
/build

# logs
logs
*.log
npm-debug.log*
npm-debug.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# misc
.DS_Store
.env*
!.env*.example
.vscode
*.code-workspace
*.pem
